<header>
  <app-header
    [appName]="appName"
    [isSignedIn]="isSignedIn$ | async"
    [username]="loggedUsername$ | async"
    (clickLogin)="onClickLogin()"
  ></app-header>
</header>

<main>
  <!--[ngClass]="{'close-aside': head.open }"-->
  <div class="position-fixed shadow"></div>
  <aside>
    <div class="scroller">
      <app-nav [items]="items"></app-nav>
    </div>
  </aside>

  <div class="page">
    <div class="contents">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
  <p-toast></p-toast>
</main>
